.user-table {
  width: 100%;
  border-collapse: collapse;
  background-color: orange;
  color: black;
}

.user-table th,
.user-table td {
  padding: 18px;
  border: 1px solid #ddd;
}

.user-table th {
  background-color: rgb(250, 53, 86);
  font-weight: bold;
}

.user-details {
  padding: 18px;
  background-color: rgb(255, 255, 185);
  color: black;
}
button{
  background-color: rgb(34, 237, 58);
  padding: 10px;
}